h1.jumbotron {
  background-color: black;
  height: 210px;
  width: 100%;
  padding-top: 75px;
  padding-left: 170px;
  border-top: solid black;
  border-bottom: 7px solid lightyellow;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 70px;
  font-family: 'verdana';
  color: white;
}

.container {
  font-family: 'verdana';
}

img {
  float: left;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 27px;
} 

h2 {
  font-weight: bold;
  padding-top: 5px;
}

.intro {
  font-size: 17.5px;
  padding-right: 5px;
}

.job {
  color: rgb(8, 141, 141);
  font-weight: bold;
}

h4 {
  padding-top: 15px;
  font-weight: bold;
}

ul {
  font-size: 17.5px;
  text-indent: 20px;
  padding-right: 5px;
}

.projects {
  padding-top: 20px;
  font-size: 16px;
}
